<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>WELCOME TO STUDENT SIGN IN PAGE</h1>

        <form action="" method="POST"><div>
            <input type="text"  placeholder="College"><br/>
            <input type="text" placeholder="Student_Name"><br/>
            <input type="text" placeholder="Enrollment_no" id="unique"><br/>
            <input type="datetime-local" name="datetime" placeholder="Date"><br/>
            <input type="number" placeholder="CGPA"><br/>
            <input type="text" placeholder="Address"><br/>
            <input type="text" placeholder="College_Name"><br/>
            <input type="text" placeholder="Branch"><br/>
            <button type="button" class="btn btn-info"><input type="submit" placeholder="Submit"></button>
            </div>
        </form>

    </div>
</div>
</body>
</html>